.entry {
    background-image: url(../assets/images/netsh.jpg);
    background-size: cover;
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: auto;

}

.pillar {
    margin: auto;
}
